*{
    box-sizing: border-box;
}

#myCanvas {
    background-color: rgba(134, 1, 217, 0.513);
    width: 500px;
}

body {
    background-image: url("./images/background.jpg");
    background-color: green;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
}